# @file
# .travis.yml - PKP Plugins Integration

dist: focal
os: linux
language: php

addons:
  postgresql: "9.5"
  apt:
    update: true
    packages:
      - libvulkan1
      - libu2f-udev

php:
  - 8.0
env:
  - APPLICATION=ojs BRANCH=main TEST=mysql
  - APPLICATION=ojs BRANCH=main TEST=pgsql

install:
  # Prepare OJS/OMP environment
  - git clone -b ${BRANCH} https://github.com/pkp/${APPLICATION} ~/${APPLICATION}
  - cd ~/${APPLICATION}
  - git submodule update --init --recursive
  - source lib/pkp/tools/travis/prepare-tests.sh
  - lib/pkp/tools/travis/prepare-webserver.sh

  # Build/install dependencies
  - lib/pkp/tools/travis/install-composer-dependencies.sh
  - npm i g -npm && npm install && npm run build

  # Install plugin source (Lucene scripts do not like symbolic links)
  - mv ${TRAVIS_BUILD_DIR} ~/${APPLICATION}/plugins/generic/lucene

  # Install JRE and Lucene
  - sudo apt-get install openjdk-11-jre
  - cd plugins/generic/lucene/lib
  - wget https://archive.apache.org/dist/lucene/solr/8.1.1/solr-8.1.1.zip
  - unzip solr-8.1.1.zip
  - ln -s solr-8.1.1 solr
  - cd ../../../..

script:
  # Install data set
  - git clone https://github.com/pkp/datasets
  - cp datasets/${APPLICATION}/${BRANCH}/${TEST}/config.inc.php .
  - cp -rf datasets/${APPLICATION}/${BRANCH}/${TEST}/public/* public/
  - cp -rf datasets/${APPLICATION}/${BRANCH}/${TEST}/files/* files/
  - cat datasets/${APPLICATION}/${BRANCH}/${TEST}/database.sql | ./datasets/tools/dbclient.sh

  # Ensure we don't get any false positives from the built-in search index by deleting its contents.
  - echo "DELETE FROM submission_search_object_keywords; DELETE FROM submission_search_keyword_list; DELETE FROM submission_search_objects;" | ./datasets/tools/dbclient.sh

  # Install plugin version (not included in dataset DB dump). FIXME: Build and install plugin through upload?
  - php lib/pkp/tools/installPluginVersion.php plugins/generic/lucene/version.xml

  # Check Lucene configuration and start server
  # (Lucene plugin does not like relative file paths; make absolute in config file)
  - sed -i -e "s/files_dir = files/files_dir = \/home\/travis\/ojs\/files/" config.inc.php
  - cd plugins/generic/lucene/embedded/bin
  - ./chkconfig.sh
  - ./start.sh
  - cd ../../../../..

  # Run plugin test set
  - $(npm bin)/cypress run --config '{"specPattern":["plugins/generic/lucene/cypress/tests/*.cy.js"]}'

after_failure:
  - cat error.log
  - sudo apt-get install sharutils
  - tar cz cypress/screenshots | uuencode /dev/stdout
